<%# To display the Profile on top of the page %>
<section class = "PageHead"><p class = "PageHead-title">Cafeteria Management System</p></section>

<%# For the side Menu Bar %>
<div class="Dashboard-list">
    <a href="#">Dashboard</a>
    <a href="#">Categories</a>
    <a href="#">Orders</a>
    <a href="#">Users</a>
    <a href ="#">Logout</a>
</div>

<%# To display Categories Head %>
<section class = "Categories-head">
    <h1 class = "Categories-title">Categories</h1>
    <button class = "Add_category">Add Category</button>
</section>
<main class = "Categories-main">
 <section class = "CategorySection">
        <%# To iterate over each category item and to render it %>
         <% MenuCategory.all.each do |category| %>
            <section class = "CategorySection-item">

                <%# To display the name of the category%>
                <p class = "Category"> <%= category.name %> </p>

                <%# To render the Edit and the update icon on hover %>
                <section class = "Update-delete">
                    <a href="javascript:void(0)">
                        <img src="updateimg.png" class="Category_update"/>
                    </a>
                    <a href="javascript:void(0)">
                      <%= form_with(url: "/menu_categories/#{category.id}", method: "delete") do %>
                         <%= image_submit_tag("trash.png" , class: "Category_delete") %>
                      <% end %>
                    </a>
                </section>

            </section>
       <% end %>
   </section>
</main>
