<div class = "Clerk_section">
<div class="card">
  <div class="card-body clerk-body">
    <h5 class="card-title clerk_greeting">Welcome Clerk</h5>
    <div class = "clerk_options">
      <%= link_to "See all Orders",orders_path,class:"see_all_orders" %>
      <%= link_to "Create New Orders",categories_path,class:"create_new_order" %>
    </div>
  </div>
</div>
</div>
