/* side navbar styling */
.Dashboard-list {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  left: 0;
  border: 0.5px solid #0000004d;
  background-color: white;
  padding-top: 20px;
  overflow: hidden;
  margin-top: 30px;
}

/* all anchor inside side navbar */
.Dashboard-list a {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
  display: block;
  margin-bottom: 20px;
  font-family: Opens Sans, sans-serif;
  color: #012636;
}

/* sidebar each item on hover */
.Dashboard-list a:hover {
  color: white;
  text-decoration: none;
  background-color: #012636;
}

/* top navbar styling */
.PageHead {
  background-color: #012636;
  font-family: Opens Sans, sans-serif;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  z-index: 1;
}

/* top navbar styling */
.PageHead-title {
  color: white;
  font-size: 17px;
  padding: 10px;
  margin-left: 80px;
  float: right;
}
.Welcome {
  color: white;
  align-items: center;
  padding: 12px;
  font-family: sans-serif;
}
.Navbar_profile {
  background-color: transparent;
  border: none;
  outline: none;
  float: right;
  color: white;
  padding: 12px 20px;
}
.Navbar_profile:focus {
  outline: none;
}

.dropdown .dropdown-menu {
  padding: 10px;
  line-height: 2;
  margin-top: 5px;
  border: 1px solid rgb(79, 167, 207);
}

.dropdown-menu a:hover {
  text-decoration: none;
  color: white;
}

.dropdown-menu li:hover {
  background-color: #012636;
  color: white;
  padding-left: 5px;
}
