/* new menu items head  */
.MenuItems-head {
  z-index: 1;
}

/* add menu items section */
.AddMenuItem-section {
  max-height: fit-content;
  color: black;
  margin: 0px auto;
  max-width: 30rem;
  margin-top: 70px;
}

/* menu items section */
.Menu_item_section {
  color: #685f5f;
  margin: 20px;
}

/* update menu item input box */
.Update_input_text {
  line-height: 2;
}

/* add item input box */
.AddItem-input {
  outline: none;
  border: 1.5px solid #ccc5c5;
  border-radius: 5px;
  padding: 8px;
  width: 100%;
}

/* description input box */
.AddDescription-input {
  outline: none;
  border: 1.5px solid #ccc5c5;
  border-radius: 5px;
  padding: 8px;
  width: 100%;
  height: 100px;
}

/* price input box */
.AddPrice-input {
  outline: none;
  border: 1.5px solid #ccc5c5;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

.Submit-cancel-btn {
  justify-content: center;
  margin: 10px auto;
  display: flex;
}
.Cancel-button {
  background-color: white;
  padding: 8px 20px;
  outline: none;
  border: 0.2px solid #c4c0c0;
  border-radius: 3px;
  color: black;
}
.Cancel-button:hover {
  text-decoration: none;
  color: black;
}
.CreateMenuItem {
  background-color: #008895;
  border: none;
  outline: none;
  padding: 10px 20px;
  color: white;
  margin-right: 10px;
}
