.Categories_card_Section {
  margin: 0 auto;
  margin-top: 80px;
  max-width: 600px;
}

.Navbar_users {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #012636;
  font-family: Opens Sans, sans-serif;
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 0;
}

.Navbar_users_contents {
  float: left;
}

.Navbar_users_contents a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.Navbar_users_contents a:hover {
  background-color: #008895;
}

.Categories_block {
  display: flex;
  border-bottom: 1px solid rgb(9, 157, 160);
  margin: 30px;
  padding-bottom: 20px;
  font-family: Open-sans, sans-serif;
  justify-content: space-between;
}
.View_item {
  background-color: transparent;
  color: #1fbbaf;
  border: 1px solid #1fbbaf;
  padding: 10px;
  border-radius: 3px;
}
.View_item:hover {
  text-decoration: none;
  color: white;
  background-color: #1fbbaf;
}
.Category_name {
  margin-top: 20px;
}

.No_items_image {
  width: 250px;
  height: 250px;
}
.View_item_unavailable {
  border: 1px solid orangered;
  color: orangered;
  padding: 10px 30px;
  border-radius: 3px;
  cursor: context-menu;
  opacity: 1;
  outline: none;
  background-color: transparent;
}
