/* menu items head style */
.MenuItems-head {
  background-color: white;
  color: black;
  display: flex;
  padding: 12px;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-top: 30px;
  position: fixed;
  overflow-x: hidden;
  margin-left: 200px;
  border-bottom: 2px solid #0807074d;
}

/* menu item title */
.MenuItems-title {
  font-family: Opens Sans, sans-serif;
  font-size: 18px;
  color: black;
}

/* each menu item */
.AddIcon_menu_item {
  width: 24px;
  visibility: hidden;
}

/* icons display on hover */
.CategorySection-item:hover .AddIcon_menu_item {
  visibility: visible;
}

/* each menu items style */
.menu_items {
  display: flex;
  padding: 8px;
  border: 0.5px solid rgb(82, 225, 181);
  justify-content: space-between;
  margin-bottom: 10px;
  box-shadow: 2px 2px rgba(82, 225, 181, 0.2);
  margin-left: 50px;
  align-items: center;
  background-color: white;
}

/* menu item update style */
.Item_update {
  width: 24px;
  text-decoration: none;
  visibility: hidden;
  margin-right: 15px;
}

/* delete icon style */
.Item_delete {
  width: 24px;
  text-decoration: none;
  visibility: hidden;
}

/* menu items styles on hover */
.menu_items:hover {
  background-color: rgba(82, 225, 181, 0.5);
}

/* update icon visiblity on menu item hover */
.menu_items:hover .Item_update {
  visibility: visible;
}

/* delete icon visiblity on menu item hover */
.menu_items:hover .Item_delete {
  visibility: visible;
}
.Enable_option_menu_item {
  text-align: center;
}
.Active_status_item {
  color: #123456;
  margin-right: 40px;
}
.Inactive_status_item {
  color: darkred;
  margin-right: 40px;
}
